<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sklep</title>
</head>
<body>
    <h1>Witaj w aplikacji Sklep</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('lista_klientow') }}">Klienci</a></li>
            <li><a href="{{ url_for('lista_zamowien') }}">Zamówienia</a></li>
            <li><a href="{{ url_for('lista_pracownikow') }}">Pracownicy</a></li>
            <li><a href="{{ url_for('dodaj_zamowienie') }}">Dodaj Zamówienie</a></li>
        </ul>
    </nav>
</body>
</html>
