<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Zamówień</title>
</head>
<body>
    <h1>Lista Zamówień</h1>
    <ul>
        {% for zamowienie in zamowienia %}
        <li>{{ zamowienie.Id_zamowienia }} - {{ zamowienie.Id_klienta }} - {{ zamowienie.ZamowionyProdukt }} - {{ zamowienie.WartoscZamowienia }} - {{ zamowienie.StatusZamowienia }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Powrót do strony głównej</a>
</body>
</html>
